.about {
  padding: 4rem 0;
  margin: 4rem 0;
}
.about-center {
  width: 60vw;
  margin: 0 auto;
}
.about-img {
  margin: 3rem 0;
  position: relative;
}
.about-info {
  margin-top: 3rem;
}

.about-img img {
  width: 100%;
  display: block;
}

.about-info h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    margin-top: 3rem;
  }

  .about-img,
  .about-info {
    margin: 0;
  }
  .about-img img {
    max-height: 165px;
  }
  .about-info p {
    width: 100%;
  }
}
/* @media screen and (min-width: 992px) {
  .img-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--primaryColor);
    box-sizing: border-box;
    top: -16px;
    left: -16px;
    z-index: -1;
  }
} */

@media screen and (min-width: 1200px) {
  .about-center {
    width: 65vw;
    max-width: 1170px;
  }
}
